<section class="main about">
  <h2>ABOUT</h2>
  <h3>Who are we?</h3>
  <div class="main__content">
    <p>ULYSSIS is a student association from Leuven, founded in 1994. We started off with a single mail server, but in the meantime we have grown to a respectable organisation with about twenty servers. Our team is also still growing in numbers, just like the amount of services we offer. Our infrastructure hosts the websites of almost all student unions in Leuven, and more than one hundred associations, organisations, students and KU Leuven staff. Apart from that, we are increasingly offering technical support on events such as the 24 hour run and Beiaardcantus (carillon cantus), and we give workshops to students who are interested in computer science. We do all of this under our motto <span class="u-highlight">“1 0 1, computer science for everyone”</span>, and always with a focus on FOSS and Linux.
    </p>
  </div>
</section>
