
<footer class="footer" style="background: #313037;">
  <div class="footer__copyright">
    <%= date(new Date(), 'YYYY') %> © ULYSSIS VZW, door Wouter Cypers, Bert Van de Poel en Joachim Opdenakker
    <span class="footer__social">
      <a href="https://www.facebook.com/ulyssis.kul" title="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 512 512"><path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64z"/></svg>
      </a>
      <a href="https://twitter.com/ULYSSIS_KUL" title="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512">
        <path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/></svg>
      </a>
      <!-- <a href="https://joindiaspora.com" title="diaspora"><svg mlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 30">
        <path d="M18.977 27.12l-2.844-3.973c-.76-1.062-1.378-1.89-1.41-1.892-.034 0-1.23 1.607-2.83 3.802-1.523 2.09-2.782 3.802-2.797 3.802-.043 0-5.493-3.84-5.507-3.88-.008-.02 1.224-1.828 2.737-4.02s2.75-4.017 2.75-4.06c0-.067-.49-.24-4.335-1.52-2.384-.796-4.358-1.455-4.387-1.466-.04-.015.187-.775.966-3.232.56-1.766 1.03-3.226 1.047-3.244.015-.018 2.088.645 4.605 1.473 2.517.83 4.598 1.507 4.623 1.506s.055-.04.065-.086c.01-.047.032-2.19.048-4.763.017-2.572.044-4.698.06-4.724.025-.037.732-.047 3.328-.047 1.813 0 3.315.013 3.338.03.03.018.08 1.433.162 4.61.137 5.214.14 5.284.223 5.284.03 0 2.026-.668 4.432-1.484s4.386-1.47 4.4-1.454c.05.055 2.022 6.48 1.998 6.503-.013.013-2.02.7-4.462 1.528-3.358 1.138-4.44 1.52-4.45 1.568-.007.037 1.148 1.762 2.616 3.91 1.445 2.116 2.623 3.863 2.616 3.882-.015.044-5.423 4.028-5.47 4.028-.017.002-.703-.935-1.523-2.08z"/></svg>
      </a> -->
    </span>
  </div>
</footer>


<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<script>
  var map = new L.map('map');
      map.setView([50.8778976, 4.7005511], 18);
      mapLink ='<a href="https://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                   { attribution: '&copy; ' + mapLink + ' Contributors',
                     maxZoom: 19,
                   }).addTo(map);
</script>
