<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="en" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="canonical" href="http://opensourcejobfair.be">
  <link rel="author" href="ULYSSIS">
  <meta name="description" content="ULYSSIS Open Source Job Fair">

  <meta property="og:url" content="http://opensourcejobfair.be">
  <meta property="og:title" content="ULYSSIS Open Source Job Fair">
  <meta property="og:type" content="website">
  <meta property="og:description" content="22 March 2017 - Museumzaal - 18 unique open source companies: Green IT Globe, Redhat, ICTS, GuardSquare, Emweb, SoftAtHome, Bewire, Gfi, Open-Future, Tessares, Kopano, Departement Computerwetenschappen KU Leuven, Altran Intelligent Systems, Nviso, Inuits, Xenit, LinuxBE, Odoo">
  <meta property="og:image" content="http://opensourcejobfair.be/ogsite2017.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ULYSSIS_KUL">
  <meta name="twitter:creator" content="@ULYSSIS_KUL">
  <meta name="twitter:title" content="ULYSSIS Open Source Job Fair">
  <meta name="twitter:description" content="22 March 2017 - Museumzaal, Naamsestraat 22, Leuven - 18 unique open source companies">
  <meta name="twitter:image" content="http://opensourcejobfair.be/ogsite2017.png">

  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

  <meta name="mobile-web-app-capable" content="yes">

  <title>ULYSSIS Open Source Job Fair</title>

  <link rel="stylesheet" href="css/main.min.css"> <!-- in development change to main.css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
</head>
