<section class="hero">
  <a href="https://ulyssis.org" class="hero__brand"><span class="hero__logo">UL<img src="img/logo.png">SSIS</span> presents</a>
  <h1><span>Open Source</span> Job Fair</h1>
</section>
<svg class="hero__curve" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <defs>
    <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"   stop-color="#6a11cb"/>
      <stop offset="100%" stop-color="#2575fc"/>
    </linearGradient>
  </defs>
  <path fill="url(#linear)" d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
