<section class="main what">
  <h2>WHAT</h2>
  <h3>  FOSS job fair</h3>
  <div class="main__content">
    <div class="main__image">
      <img src="img/what.jpg">
    </div>
    <div>
      <p>Student association ULYSSIS is organising a one of a kind <span class="u-highlight">job fair</span> for companies that develop, support and/or heavily use <span class="u-highlight">Free and Open Source Software</span>. All students and alumni with skills in IT (whether it be development or administration) are more than welcome. Of course, a passion for Free and Open Source Software is a plus.</p>
    </div>
  </div>
  <div class="main__call2action">
    <p>Finishing up your academic career and looking for an innovative and unique job? Or maybe you want to do an internship? Join us!</p>
  </div>
</section>
