<section class="main when">
  <h2>WHEN</h2>
  <h3>March 22, 2017, 11:00-15:30pm</h3>
  <div>
    <p>Mark it down on your calendar, indicate you're going on our event on <a href="https://www.facebook.com/ulyssis.kul/posts/1436510663039959">Facebook</a>, keep in touch with us on <a href="https://twitter.com/ULYSSIS_KUL">Twitter</a>, or have us send you a reminder via email</p>

    <form action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post" id="subscribe-form" name="subscribe-form" class="subscribe" target="_blank" novalidate>
      <div class="sub-form" id="signup">
        <input type="email" value="" name="EMAIL" class="email" id="email" placeholder="Your email" required><button type="submit" class="submit" name="subscribe" id="subscribe" class="button" title="remind me">submit</button>
      </div>
    </form>
  </div>
</section>
