<section class="main where">
  <h2>WHERE</h2>
  <h3>Museumzaal HAL 00.08, Naamsestraat 22, Leuven</h3>
  <div class="main__content">
    <div>You can find our Job Fair in the Museumzaal on the ground floor of the University Halls. You can park your bike for free in the bicycle parking underneath Pieter De Somerplein (formerly known as Fochplein) or at Maria Theresiacollege. You can park your car on Hogeschoolplein or use the underground parking lots at Ladeuzeplein or QPark Heilig-Hart and then take a short walk. If you're traveling by train, you can take a short 20 minute walk from the train station or take bus 2 every 15 minutes and stop right in front of the venue. From Heverlee Campus it's only 10-15 minutes by bike, you can also take bus 2 every 8 minutes which stops right in front of the university halls.</div>
    <div id="map"></div>
  </div>
</section>
