<section class="main who">
  <h2>WHO</h2>
  <h3>Who will be there?</h3>
  <p>Companies involved with Free and Open Source Software as developers, supporters and users</p>
  <div class="main__content">
    <a href="https://www.redhat.com/en/open-source" target="_blank"><img src="img/redhat.png" alt="Red Hat"></a>
    <a href="http://www.greenitglobe.com/" target="_blank"><img src="img/gig.png" alt="Green IT Globe"></a>
    <a href="https://admin.kuleuven.be/icts/over-icts" target="_blank"><img src="img/icts.png" alt="ICTS"></a>
    <a href="http://emweb.be/" target="_blank"><img src="img/emweb.png" alt="Emweb"></a>
    <a href="https://www.guardsquare.com" target="_blank"><img src="img/guardsquare.png" alt="GuardSquare"></a>
    <a href="http://wms.cs.kuleuven.be/" target="_blank"><img src="img/cw.png" alt="Departement Computerwetenschappen"></a>
    <a href="http://bewire.be/" target="_blank"><img src="img/bewire.png" alt="Bewire"></a>
    <a href="http://www.xenit.eu/" target="_blank"><img src="img/xenit.png" alt="Xenit"></a>
    <a href="http://inuits.be/" target="_blank"><img src="img/inuits.png" alt="Inuits"></a>
    <a href="http://www.gfi.be/" target="_blank"><img src="img/gfi.png" alt="Gfi"></a>
    <a href="https://www.linuxbe.com/" target="_blank"><img src="img/linuxbe.png" alt="LinuxBE"></a>
    <a href="https://kopano.com/" target="_blank"><img src="img/kopano.png" alt="Kopano"></a>
    <a href="https://www.odoo.com/" target="_blank"><img src="img/odoo.png" alt="Odoo"></a>
    <a href="http://open-future.be/" target="_blank"><img src="img/openfuture.png" alt="Open-future"></a>
    <a href="http://www.tessares.net/" target="_blank"><img src="img/tessares.png" alt="Tessares"></a>
    <a href="https://www.softathome.com/" target="_blank"><img src="img/softathome.png" alt="SoftAtHome"></a>
    <a href="http://intelligent-systems.altran.com/" target="_blank"><img src="img/altan.png" alt="Altran Intelligent Systems"></a>
    <a href="https://www.nviso.be/" target="_blank"><img src="img/nviso.png" alt="NVISO"></a>
  </div>
</section>
