
.footer {
  text-align: center;
  padding: 0 2em 1.5em;
  font-size: .9rem;
}

.footer__social {
  float: right;
  margin-right: 3em;
  display: inline;
}
.footer__social svg {
  fill: $color-blue;
}

.footer__social a {
    &:hover {
      border: 0;
    }
}

.footer__social a:hover > svg {
  fill: $color-purple;
}

@media screen and (max-width: $mq-small) {
  .footer__social {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
