
.hero {
  position: relative;
  background-color: $color-blue;
  background-image: $color-libreWorld;
  height: 180px;
  text-align: center;
  padding-top: 6%;
  &:before,
  &:after {
    position: absolute;
    content: "";
    pointer-events: none;
  }
}

.hero__logo {
  letter-spacing: 2px;
  color: $color-white;
}

.hero__logo img {
  width: 14px;
  padding: 1px;
  height: auto;
  vertical-align: text-bottom;
}

.hero h1 {
  color: $color-white;
  font-size: 3rem;
}

.hero span {
  margin-right: .3em;
}

@media screen and (max-width: $mq-small) {
  .hero {
    height: 180px;
    padding-top: 9%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: $mq-xsmall) {
  .hero {
    height: 100px;
    padding-top: 10%;
  }

  .hero h1 {
    font-size: 1.2rem;
  }
}
