
section h2,
section h3 {
  text-align: center;
}

section h2 {
  position: relative;
  padding-top: 1em;
  z-index: 1;
}

section h3 {
  margin-bottom: 1.2em;
}

.main {
  padding: 1em 7em 3em;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main__content div {
  flex: 0 0 42%;
}

.main__content div:nth-child(2) {
  display: flex;
  align-items: center;
}

.main__image {
  text-align: right;
  flex: 0 0 30%;
}

section h2:after {
  content: "";
  display: block;
  position: relative;
  bottom: .75em;
  width: 90px;
  margin: 0 auto;
  height: 10px;
  background: $color-mint;
  z-index: -1;
}

.main img {
  max-width: 300px;
}

@media screen and (max-width: $mq-medium) {
  .main {
    padding: 0 3em 2em;
  }

  .main__content div {
    flex: 0 0 100%;
  }

  .main__image {
    display: block;
  }

  .main img {
    max-width: 50%;
    margin: 0 auto;
  }
}
