
.main__call2action {
  margin-top: 4em;
  text-align: center;
  font-weight: bold;
}

.what .main__content {
  justify-content: center;
}

.what .main__image {
  text-align: center;
}

@media screen and (max-width: $mq-large) {
  .what .main__content {
    justify-content: space-around;
  }
}


@media screen and (max-width: $mq-small) {
  .what .main__image {
    display: block;
  }

  .main__call2action {
    margin-top: 2em;
  }
}
