
.when {
  background-image: $color-libreWorld;
}

.sub-form {
  text-align: left;
  margin: 1.5em 0 0 39%;
}

.sub-form input.email {
  background: $color-white;
  border-radius: 2px 0 0 2px;
  font-size: 15px;
  border: 0 none;
  color: $color-blue;
  height: 42px;
  padding: 0 .8em;
  display: inline-block;
  margin: 0;
  width: 200px;
  vertical-align: top;
  padding-left: 1em;
}

.sub-form input.email:focus {
  outline: 0;
}

.subscribe {
  clear: left;
  width: 100%;
}

.submit {
  position: absolute;
  width: 70px;
  height: 42px;
  border-radius: 0 2px 2px 0;
  background: $color-land;
  border: 0;
  overflow: hidden;
  color: $color-lightGrey;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .23s ease-in-out;
    &:hover {
      background: darken($color-land, 10%);
    }
}

@media screen and (max-width: $mq-medium) {
  .sub-form {margin-left: 40%;}
}

@media screen and (max-width: $mq-small) {
  .sub-form {margin: 0 auto; width: 250px;}
  .sub-form input.email {width: 200px;}
}
