
.who {
  background: $color-white;
  color: $color-land;
  text-align: center;
  padding-bottom: 2em;
}

.who .main__content {
  padding: 0 3em;
  justify-content: center;
}

.who a:hover {
  border: 0;
  opacity: .8;
}

.who a:nth-child(-n+2) {
  flex: 0 0 50%;
}

.who a:nth-child(n+3):nth-child(-n+5) {
  flex: 0 0 30%;
}

.who a:nth-child(n+6):nth-child(-n+18) {
  flex: 0 0 15%;
}

.who img {
  width: 70%;
  margin: 2em auto;
}

.who a:nth-child(-n+5) img {
  width: 40%;
}

@media screen and (max-width: $mq-medium) {
  .who a:nth-child(n+6):nth-child(-n+18) {
    flex: 0 0 30%;
  }
}

@media screen and (max-width: $mq-small) {
  .who.main {
    padding: 0 3em 3em;
  }

  .who .main__content {
    padding: 0;
  }

  .who .main__content a:nth-child(-n+18) {
    flex: 0 0 40%;
  }

  .who a:nth-child(-n+18) img {
    width: 90%;
  }
}
