<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<%- partial('_partial/head') %>
<body>
  <main class="container-wrapper">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <noscript><small class="no-js">Please, enable Javascript for better experience.</small></noscript>
    <div class="container main__container"><%- body %></div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </main>
</body>
</html>
