$font-primary: "FiraSans-Regular";
$font-secondary: "FiraSans-Bold";

@font-face {
  font-family: "FiraSans-Regular";
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/FiraSans-Regular.woff2") format("woff2"),
       url("../fonts/FiraSans-Regular.woff") format("woff"),
       url("../fonts/FiraSans-Regular.ttf") format("truetype"),
       url("../fonts/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/FiraSans-Bold.woff2") format("woff2"),
       url("../fonts/FiraSans-Bold.woff") format("woff"),
       url("../fonts/FiraSans-Bold.ttf") format("truetype"),
       url("../fonts/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
