*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  font-size: 1.05rem;
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Roboto", "Ubuntu", Arial, sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  color: $color-white;
  background-color: $color-land;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: $mq-xsmall) {
  body { font-size: 90%; }
}

.container {
  padding-bottom: 1.5em;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

*::-moz-selection {
  color: $color-land;
  background: $color-mint;
}

*::selection {
  color: $color-land;
  background: $color-mint;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-mint;
    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $color-mint;
      outline: none;
    }
}

small {
  font-size: .85rem;
}

.browserupgrade {
  margin: .2em 0;
  background: $color-white;
  color: $color-land;
  padding: .2em 0;
}

.no-js {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 70%;
  background: $color-mint;
  color: $color-land;
  padding: .25em 1em;
  text-align: center;
}

@media screen and (max-width: $mq-small) {
  .no-js {left: 0; transform: translate(0, 0); width: 100%; padding: .3em 2em; z-index: 10;}
}
