@font-face {
  font-family: "FiraSans-Regular";
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.ttf") format("truetype"), url("../fonts/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.u-highlight {
  color: #39f3bb;
  font-weight: bold; }

*,
*:after,
*:before {
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  width: 100%;
  height: 100%; }

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%; }

body {
  font-size: 1.05rem;
  font-family: "FiraSans-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Roboto", "Ubuntu", Arial, sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #313037;
  text-rendering: optimizeLegibility; }

@media screen and (max-width: 33.9em) {
  body {
    font-size: 90%; } }

.container {
  padding-bottom: 1.5em; }

.container:before,
.container:after {
  display: table;
  content: " "; }

.container:after {
  clear: both; }

*::-moz-selection {
  color: #313037;
  background: #39f3bb; }

*::selection {
  color: #313037;
  background: #39f3bb; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #39f3bb; }
  a:hover, a:focus, a:active {
    border-bottom: 1px solid #39f3bb;
    outline: none; }

small {
  font-size: .85rem; }

.browserupgrade {
  margin: .2em 0;
  background: #ffffff;
  color: #313037;
  padding: .2em 0; }

.no-js {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
  width: 70%;
  background: #39f3bb;
  color: #313037;
  padding: .25em 1em;
  text-align: center; }

@media screen and (max-width: 47.938em) {
  .no-js {
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
    padding: .3em 2em;
    z-index: 10; } }

.footer {
  text-align: center;
  padding: 0 2em 1.5em;
  font-size: .9rem; }

.footer__social {
  float: right;
  margin-right: 3em;
  display: inline; }

.footer__social svg {
  fill: #2575fc; }

.footer__social a:hover {
  border: 0; }

.footer__social a:hover > svg {
  fill: #6a11cb; }

@media screen and (max-width: 47.938em) {
  .footer__social {
    float: none;
    display: block;
    width: 100%;
    text-align: center; } }

section h2,
section h3 {
  text-align: center; }

section h2 {
  position: relative;
  padding-top: 1em;
  z-index: 1; }

section h3 {
  margin-bottom: 1.2em; }

.main {
  padding: 1em 7em 3em; }

.main__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.main__content div {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 42%;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%; }

.main__content div:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main__image {
  text-align: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%; }

section h2:after {
  content: "";
  display: block;
  position: relative;
  bottom: .75em;
  width: 90px;
  margin: 0 auto;
  height: 10px;
  background: #39f3bb;
  z-index: -1; }

.main img {
  max-width: 300px; }

@media screen and (max-width: 64em) {
  .main {
    padding: 0 3em 2em; }
  .main__content div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .main__image {
    display: block; }
  .main img {
    max-width: 50%;
    margin: 0 auto; } }

.hero {
  position: relative;
  background-color: #2575fc;
  background-image: -webkit-linear-gradient(left, #6a11cb 0%, #2575fc 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  height: 180px;
  text-align: center;
  padding-top: 6%; }
  .hero:before, .hero:after {
    position: absolute;
    content: "";
    pointer-events: none; }

.hero__logo {
  letter-spacing: 2px;
  color: #ffffff; }

.hero__logo img {
  width: 14px;
  padding: 1px;
  height: auto;
  vertical-align: text-bottom; }

.hero h1 {
  color: #ffffff;
  font-size: 3rem; }

.hero span {
  margin-right: .3em; }

@media screen and (max-width: 47.938em) {
  .hero {
    height: 180px;
    padding-top: 9%; }
  .hero h1 {
    font-size: 2.5rem; } }

@media screen and (max-width: 33.9em) {
  .hero {
    height: 100px;
    padding-top: 10%; }
  .hero h1 {
    font-size: 1.2rem; } }

.main__call2action {
  margin-top: 4em;
  text-align: center;
  font-weight: bold; }

.what .main__content {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.what .main__image {
  text-align: center; }

@media screen and (max-width: 80em) {
  .what .main__content {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 47.938em) {
  .what .main__image {
    display: block; }
  .main__call2action {
    margin-top: 2em; } }

.when {
  background-image: -webkit-linear-gradient(left, #6a11cb 0%, #2575fc 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); }

.sub-form {
  text-align: left;
  margin: 1.5em 0 0 39%; }

.sub-form input.email {
  background: #ffffff;
  border-radius: 2px 0 0 2px;
  font-size: 15px;
  border: 0 none;
  color: #2575fc;
  height: 42px;
  padding: 0 .8em;
  display: inline-block;
  margin: 0;
  width: 200px;
  vertical-align: top;
  padding-left: 1em; }

.sub-form input.email:focus {
  outline: 0; }

.subscribe {
  clear: left;
  width: 100%; }

.submit {
  position: absolute;
  width: 70px;
  height: 42px;
  border-radius: 0 2px 2px 0;
  background: #313037;
  border: 0;
  overflow: hidden;
  color: #cccccc;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all .23s ease-in-out;
  transition: all .23s ease-in-out; }
  .submit:hover {
    background: #19181c; }

@media screen and (max-width: 64em) {
  .sub-form {
    margin-left: 40%; } }

@media screen and (max-width: 47.938em) {
  .sub-form {
    margin: 0 auto;
    width: 250px; }
  .sub-form input.email {
    width: 200px; } }

@media screen and (max-width: 64em) {
  .leaflet-container {
    height: 250px;
    margin-top: 3em; } }

.who {
  background: #ffffff;
  color: #313037;
  text-align: center;
  padding-bottom: 2em; }

.who .main__content {
  padding: 0 3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.who a:hover {
  border: 0;
  opacity: .8; }

.who a:nth-child(-n+2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.who a:nth-child(n+3):nth-child(-n+5) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%; }

.who a:nth-child(n+6):nth-child(-n+18) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%; }

.who img {
  width: 70%;
  margin: 2em auto; }

.who a:nth-child(-n+5) img {
  width: 40%; }

@media screen and (max-width: 64em) {
  .who a:nth-child(n+6):nth-child(-n+18) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; } }

@media screen and (max-width: 47.938em) {
  .who.main {
    padding: 0 3em 3em; }
  .who .main__content {
    padding: 0; }
  .who .main__content a:nth-child(-n+18) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%; }
  .who a:nth-child(-n+18) img {
    width: 90%; } }

.about {
  background-image: -webkit-linear-gradient(left, #6a11cb 0%, #2575fc 100%);
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); }

.error__page {
  padding: 20% 0;
  text-align: center; }
